/* BOOTSTRAP RESET */
.btn { position: relative; font-size: 16px; padding: 8px 22px; }
.btn-success { background-color: rgba(15, 105, 75, 1.00); }
.btn-success:hover { background-color: rgba(35, 64, 45, 1.00); }
.form-control { border-radius: 0; height: 46px; margin-top: 16px; border: 1px solid #0855a2; outline: none !important; }
.page-link { color: #0855a2 !important; }

/* GERAL */
div{background-repeat: no-repeat;}
html{overflow-x: hidden;}
body { overflow-x: hidden; font-family: 'Open Sans', sans-serif; }
header{font-family: 'Open Sans', sans-serif; };
footer{font-family: 'Open Sans', sans-serif; };;
.uppercase{text-transform: uppercase;}
p { font-size: 18px; }
.area { padding-top: 60px; padding-bottom: 60px; }
.area h1,
.area h2 { font-size: 36px; text-align: center; }
.area h1 + hr,
.area h2 + hr { border-width: 4px; border-color: #0855a2; width: 60px; margin: 20px auto 38px auto; }
.cover-banner { width: 100%; }
.attention-box { background: #0855a2; color: #fff; text-align: center; padding: 30px 40px; margin-top: 15px; }
.area .area { padding-bottom: 0; }
.right-image { margin-bottom: 16px; width: 100%; }
.card { border: none; }
.breadcrumb { background: none; margin: 0; padding-bottom: 0; padding: 10px 0; }
.breadcrumb a { color: #0855a2; }
.bar { background: #0855a2; padding: 10px; margin-bottom: 30px; }
.bar .btn { background: none !important; border: none !important; outline: none !important; box-shadow: none !important; cursor: pointer; }
.bar .form-control { margin: 0; border-radius: 100px; padding: 0 29px; height: 40px; border: 1px solid #fff; }
.bar .input-group-btn { background: #fff; height: 40px; border-radius: 0 100px 100px 0; }
.bar .input-group-btn .btn { color: #0855a2; }
.video-area { padding: 60px 0; background: #0855a2; color: #fff; text-align: center; }
.video-area iframe { margin: 20px 0 0 0; border: none; max-width: 90%; }
.tb-row { display: table; width: 100%; height: 100%; vertical-align: middle; margin: 0 -10px; }
.tb-row .tb-col { display: table-cell; vertical-align: middle; padding: 0 10px; height: 100%; }
.no-margin { margin: 0 }
.icon-loader { font-size: 50px; color: #0855a2; margin: 50px; }
.icon-cus{display: block; background-size: contain; background-repeat: no-repeat;}
.area-cus{padding: 50px 0;}
/* transitions */
.v-transition { transition: opacity .1s ease-out; }
.v-enter, .v-leave { opacity: 0; }
.slide-fade-enter-active { transition: all .8s ease; }
.slide-fade-leave-active { transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0); }
.slide-fade-enter, .slide-fade-leave-to { transform: translateX(10px); opacity: 0; }
.slide-fade-enter-active { transition: all .3s ease; }
.slide-fade-leave-active { transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0); }
.slide-fade-enter, .slide-fade-leave-to { transform: translateX(10px); opacity: 0; }
.flip-list-move { transition: transform 0.3s; }
.no-move { transition: transform 0s; }
.ghost { opacity: .5; background: #C8EBFB; }
.list-group { min-height: 20px; }
.list-group-item { cursor: move; }
.list-group-item i{ cursor: pointer; }

/* HEADER */

header nav a{
    text-transform: uppercase;
    transition: .4s;
}
header .menu-mobile { display: none; }
header #logo-menu-topo {
    width: 280px;
}
header .menu-desktop {
    height: 100%;
    display: flex;
    align-items: center;
    /* padding: 0 40px; */
}
header .menu-desktop a,
header .menu-desktop {
    background: none;
    cursor: pointer;
    /* margin: 12px; */
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: .4s;
    font-weight: 300;
}

header .menu-desktop .dropdown:hover .dropdown-menu {
    display: flex !important;
    flex-wrap: wrap;
}

.menu-mobile .dropdown .nav-link {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,.5);
}
.menu-mobile .dropdown-menu { 
    border: none;
}
.menu-mobile .dropdown-menu a {
    color: #fff;
    display: block;
    margin-bottom: 9px;
    padding-left: 10px;
    font-size: 14px;
}
header #social-menu {
    background: #0855a2;
    color: #fff!important;
    border-radius: 40px;
    box-sizing: content-box;
    border-width: 10px;
    font-size: 16px;
    text-align: center;
    padding: 7px 15px;
    min-width: 200px;
}
header .menu-topo {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;

}
header .fa-whatsapp, header .fa-facebook-official {
    font-size: 25px!important;
}
.padding-cus{
    padding-top: 72px;
}
/* Footer */
footer.area {
    background:#0855a2;
    color: #fff;
    padding: 0;
}
footer ul.dados {
    list-style: none;
    padding: 0;
}
footer ul.dados li {
    margin-bottom: 10px;
}
footer h4 {
    margin-top: 0;
}
footer .pos-footer {
    margin-top: -7px;
    background: #1e2c32;
    padding: 80px 0;
    color: #FFF;
}
footer a {
    color: #fff !important;
}
footer a img {
    max-width: 100%;
    margin: 20px 0;
}
footer a.text-left {
    display: block;
    margin-bottom: 12px;
}
.footer-body{
    min-height: 280px;
}
.content-footer-cus{
    display: flex;
    align-items: center;
    justify-content: center
}
small{
    font-size: 100%;
}
#noticia article img {
    width: 100%;
    margin-bottom: 16px;
}

#contact-page .icon-contact {
    color: #0855a2;
    font-size: 26px;
}

#contact-page .g-link { color: #000; display: inline-block; }

#map {
    height: 300px;
    margin-bottom: -60px;
}
a:hover {
    color: none;
    text-decoration: none;
}

#noticias ul {
    list-style: none;
    padding: 0;
}

.paginate-links { text-align: center; }
.paginate-links .number {
    display: inline-block;
}
.paginate-links .number a { 
    display: block;
    padding: 6px 10px;
    border: 1px solid #0855a2;
    margin: 2px;
    cursor: pointer;
    text-align: center;
}
.paginate-links .number.active a {
    background: #0855a2;
    color: #fff;
}
#navbarNavDropdown{
    padding-top: 15px;
}

.dropdown-menu.show {
    display: none;
}

.menu-mobile .router-link-exact-active{
    color: #384c53!important;
    font-weight: 700;
}
@media only screen and (max-width: 1035px) {
    #social-menu { display: none; }
}
header { 
    height: 80px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 200;
    border-bottom: solid 1px #384c53;
 }
@media only screen and (max-width: 767px) {
    header{
        background: #1e2c32;
    }
    .omit-res{display: none;}
    header + .area { margin-top: 100px; }
    .content-top p, 
    .contato-col p, 
    .sec-c-i p, 
    .sec-c-g p, 
    .pos-footer p, 
    .sec-form-top p,
    .sec-m-e p,
    .sec-c-v p { zoom: 86%; }
    header .menu-mobile { 
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #1e2c32;
        padding: 8px 12px;
        z-index: 200;
     }
     .dropdown-menu.show {
        display: block;
    }
    .form-top input{
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    header .menu-desktop { display: none; }
    #areas-atuacao-md .areas-card p { display: none; }
    #newsletter #news-mail { margin-bottom: 10px; }
    #hero { height: 100vh; }
    #hero h1 { font-size: 30px; }
    .navbar-brand { max-width: 190px; }
}
.img-logo-mobile{
    width: 150px;
}
.navbar-light .navbar-toggler{
    background-color: #fff;
}
@media only screen and (max-width: 600px) {
    .content-top, 
    .contato-col, 
    .sec-c-i p,  
    .sec-c-g p, 
    .pos-footer p,
    .sec-form-top p,
    .sec-m-e p,
    .sec-c-v p,
    .top-header p{ zoom: 75%; }
    .padding-cus{
        padding-top: 72px;
    }
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}
@media only screen and (min-width: 1260px) {
   .container-cus{
    max-width: 1000px;
    margin: auto;
   }
}
@media only screen and (max-width: 767px) {
   .text-center-m{
    text-align: center !important;
   }
}
p{
    color: #384c53;
  }


/* Elements Default*/

.btn-default-cus{
    display: block;
    padding: 13px 40px;
    max-width: 300px;
    font-weight: 600;
    background-color: #02b2cb;
    color:#fff;
    text-transform: uppercase;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 2px;
    transition: .4s;
    cursor: pointer;

}
.btn-default-cus:hover, .btn-default-cus:focus{
    transform: scale(1.05);
    text-decoration: none;
    color: #FFF;
}
.slick img{
	display: block;
	margin: 0;
	width: 180px;
	border: 1px solid gray;
    padding: 15px;
    margin: auto;
}
.slick-dots{
	bottom: -40px;
}
.slick-dotted.slick-slider {
    margin-bottom: 60px;
}
.slick-dots li{
   display: inline-block;
   margin-right: 10px;
   height: 13px;
   width: 12px;
   border-radius: 100px;
   transition: all .3s;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #ac0000;
}
.slick-dots li button:before{
	font-size: 10px;
}
.enviar-form{
    background: none;
    border: none;
    width: 100%;
    text-align: end;
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;
}

.menu-header  a.router-link-active{
    background: #E7E7E7;
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: bold !important;
    margin-left: auto;
    cursor: pointer;
}
.menu-header a:hover{
    background: #E7E7E7;
    /* font-size: 13px; */
    letter-spacing: 4px;
}

.dropdown-menu a:hover,
.dropdown-menu a.router-link-active{
    background: none;
    font-size: inherit;
    letter-spacing: inherit;
    margin-left: inherit;
    opacity: 1;
}

.a-drop{
    opacity: 0.5;
}
.fa-paper-plane:before{
    padding-left: 10px;
    height: 50px;
    font-size: 22px;
    color: #525659;
}
