<template>
<div>
  <div class="expe">
    <div class="container">
          <div class="row row-cusexpe">
          <div class="col-md-6">
            <div class="home-left">
              <!-- <img src="../../../static/img/Logo-bco.png"> -->
              <h1> <span id="anos"></span> DIREITO DO<br> CONSUMIDOR</h1>
            </div>  
          </div>
          <div class="col-md-6">
            <div class="home-right">
              <p>
             <b class="font-800"> PAULO HOFFMAN - doutor, mestre e especialista</b> em Processo Civil pela PUC-SP<br>
              <b class="font-800">Especialista em Processo Civil</b> pela "Università Degli Studi di Milano"<br>
              <b class="font-800">Ex-professor no curso de pós-gradução</b> PUC-SP<br>
              Membro do<b class="font-800"> Instituto Brasileiro de Direito Processual.</b><br>
              Autor de diversos livros.<br>
              <a target="blank" class="a-curriculum" href="http://lattes.cnpq.br/2012118900948830"> Curriculum Lattes</a></p> 

              
              
            </div>  
          </div>
        </div>
    </div>
  </div>

  <div class="atuacao">
    <div class="container atuacont-cus ">
      <div class="row">
        <div class="col-md-6">
          <div class="atua-text col-md-9 xm-auto float-right">
              
              <Consumidor-Md id="md-consumidor"></Consumidor-Md>
             
          </div>
        </div>
        <div class="col-md-6 col-edit-atua">
          <div class="atua-form">
            <div class="form-cont">
              <h4 class="h4-atua">ENTRE EM CONTATO</h4>
              <p class="p-atu-form">Todos os campos são obrigatórios.</p>
              <form class="form-atua" @submit.prevent="onSubmit">
                <input type="text" placeholder="Nome Completo" v-model="form.FromName" required>
                <input type="e-mail" placeholder="E-mail" v-model="form.From" required>
                <input type="number" placeholder="Telefone" v-model="form.Phone" required>
                <textarea placeholder="Escreva um breve resumo do seu caso" v-model="form.message"  required></textarea>
                <button class="enviar-form" type="submit">ENVIAR <i class="far fa-paper-plane"></i></button>
              </form>
        </div> 
        <div class="options-atua">
              <p class="tittle-out"><span class="out-span">DEMAIS</span> ESPECIALIDADES</p>

              <div class="outras-atua">
                <div class=" flex-wrap1">

                  <div class="option-dir">
                    <router-link :to="'/Atuacao/empresarial'">
                    <p id="btn-empresa" class="line-out-p ">
                      <span class="direito-out">DIREITO</span><br>
                      <img class="triangule" src="../../static/img/triangule.png">EMPRESARIAL</p>
                    </router-link>
                  </div>

                  <div class="option-dir centraliza">
                    <router-link :to="'/Atuacao/recuperacao'">
                    <p id="btn-familia" class="line-out-p">
                      <span class="direito-out">RECUPERÇÃO</span><br>
                      <img class="triangule" src="../../static/img/triangule.png">DE EMPRESAS</p>
                    </router-link>
                  </div>

                  <div class="option-dir">  
                    <router-link :to="'/Atuacao/saude'">
                    <p id="btn-trabalho" class="line-out-p">
                      <span class="direito-out">DIREITO DA</span><br>
                      <img class="triangule" src="../../static/img/triangule.png">SAÚDE</p>
                    </router-link>
                  </div>

                  <div class="option-dir ">
                    <router-link :to="'/Atuacao/divorcio'">
                    <p id="btn-imob" class="line-out-p"><span class="direito-out">
                      INVENTÁRIO E</span><br><img class="triangule"
                       src="../../static/img/triangule.png">DIVÓRCIO</p>
                    </router-link>
                  </div>

                  <div class="option-dir centraliza">
                    <router-link :to="'/Atuacao/familia'">
                    <p id="btn-familia" class="line-out-p">
                      <span class="direito-out">DIREITO DE</span>
                      <br><img class="triangule" src="../../static/img/triangule.png">FAMÍLIA</p>
                    </router-link>  
                  </div>

                  <div class="option-dir"> 
                    <router-link :to="'/Atuacao/Trabalho'"> 
                    <p id="btn-trabalho" class="line-out-p "><span class="direito-out">
                      DIREITO DO</span><br><img class="triangule" 
                      src="../../static/img/triangule.png">TRABALHO</p>
                    </router-link>  
                  </div>  

                  <div class="option-dir centraliza">
                    <router-link :to="'/Atuacao/civil'">
                    <p id="btn-civil" class="line-out-p">
                      <span class="direito-out">DIREITO</span><br>
                      <img class="triangule" src="../../static/img/triangule.png">CIVIL</p>
                    </router-link>
                  </div>

                  <div class="option-dir">
                    <router-link :to="'/Atuacao/consumidor'">
                    <p id="btn-consumidor" class="line-out-p este">
                      <span class="direito-out">DIREITO DO</span><br>
                       <img class="triangule" src="../../static/img/triangule.png">CONSUMIDOR</p>
                    </router-link>
                  </div>

                  
                <div class="option-dir ">
                    <router-link :to="'/Atuacao/imobiliario'">
                    <p id="btn-imob" class="line-out-p">
                      <span class="direito-out">DIREITO</span>
                      <br>
                      <img class="triangule" src="../../static/img/triangule.png">IMOBILIÁRIO</p>
                    </router-link>
                  </div>
               
   
                </div>
              </div>
        </div>
          </div>
        </div>
    </div>
    
  </div>
</div>
</div>
</template>
<style scoped>
.atuacont-cus {
    max-width: 100%;
}
.header-active{
 color: #1e2c32;
}
.expe{
  background-image: url("/../static/img/Empresarial.jpg");
  background-position:center;
  /* height: 600px; */
  background-size: cover;
  /* border-bottom: solid 5px #fff; */
}
.home-left{
  text-align: center;
  padding-top: 55px;
}
.home-left img{
  height: 75px;
}
.home-left h1{
  color: #fff;
  margin-top: 25px;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
}

.home-right p{
  color: #fff;
  text-align: justify;
  font-size: 20px;
}


.atua-text{
  padding-right: 35px;
  padding-top: 20%;
}
.atua-form{
  background-color: #E7E7E7;
  height: 100%;
}
.col-edit-atua{
  padding-right: 0;
  padding-left: 0;
}
.options-atua{
  /* padding-top: 20%; */
    padding-bottom: 20%;
    /* padding-top: 8%; */
    padding-left: 8%;
    /* padding-right: 3%; */
}
.option-dir{
  width: 177px;
  margin-right: 25px;
}

.flex-wrap1{
  display: flex;
  flex-wrap: wrap;
}
.h4-atua{
  /* width: 40%; */
  border-bottom: solid 2px #1e2c32;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  letter-spacing: 2px;
}
.form-cont{
  padding-top: 20%;
  /* padding-top: 8%; */
  padding-left:8%; 
  padding-right:30%; 
}
.p-atu-form{
  letter-spacing: 1px;
  font-weight: 100;
  /* font-size: 15px; */
  margin-bottom: 50px;
  margin-top: 20px;
}
.form-atua{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #1e2c32;
}
.form-atua input{
    padding:15px; 
    height: 35px;;
    border-radius: 18px;
    margin-bottom: 20px;
    border: solid 1px #586f77;
}
.form-atua textarea{
    padding:15px; 
    height: 135px;;
    border-radius: 18px;
    margin-bottom: 25px;
    border: solid 1px #586f77;
}
.form-atua button{
  margin-bottom: 50px;
}
.tittle-out{
  font-weight: bold;
  color: #384c53;
  margin-top: 20%;
  margin-bottom: 15%;
  font-size: 20px;
  letter-spacing: 5px;
}
.out-span{
  font-weight: 100;
}

.row-cus-out{
     margin-bottom: 8%;
}
   
.line-out-p{
  font-weight: bold;
  color: #384c53;
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 20px;
  padding-right: 0px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: .5s;
  opacity: .5;
}
.este{
  opacity: 1!important;
}
.line-out-p:hover{
  opacity: 1;
}
.none{
  display: none;
}
.block{
  display: block;
}
.direito-out{
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 3px;
}
.triangule{
  height: 15px;
  margin-top: -4px;
}


#md-empresa, #md-civil, #md-consumidor, #md-imob, #md-familia, #md-trabalho{
  transition: 1s;
}
::placeholder{
  color: #8a8a8a;
}
@media only screen and (max-width: 767px) {
  .atuacont-cus{
    float: none;
    max-width: 755px;
    /* width: 100%; */
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0; 
    margin-left: 0;
  }
  .form-cont {
        padding-top: 8%;
    padding-bottom: 6%;
    padding-left: 8%;
    padding-right: 8%;
  }
  .atua-text {
    padding-right: 8%;
    padding-top: 4%;
    padding-left: 8%;
    padding-bottom: 4%;
}
.tittle-out{
  margin-top: 0;
  margin-bottom: 4%;
  text-align: center;
}
.options-atua{
    padding-bottom: 6%;
}
.flex-wrap1{
  /* flex-wrap: inherit !important; */
}
  
} 
@media only screen and (max-width: 991px) {
  .container-991 {
      max-width: 790px;
  }
}
@media only screen and (max-width: 450px){
.flex-wrap1{
  flex-wrap: wrap !important;
  margin-bottom: 0;
}
}
</style>

<script>
import TrabalhoMd from '../pages/modules/Trabalho'
import FamiliaMd from '../pages/modules/Familia'
import ImobiliarioMd from '../pages/modules/Imobiliario'
import ConsumidorMd from '../pages/modules/Consumidor'
import CiviloMd from '../pages/modules/Civil'
import ContatoMd from '../pages/modules/ContatoMd'
import empresarial from '../pages/modules/empresarial'
export default {
  name: 'home',

  components: {
  'Trabalho-Md': TrabalhoMd,
  'Familia-Md': FamiliaMd,
    'Imobiliario-Md': ImobiliarioMd,
  'Consumidor-Md': ConsumidorMd,
    'Civil-Md': CiviloMd,
    'Contato-Md': ContatoMd,
     'empresarial-Md': empresarial,
  },
  data: function () {
    return {
      btnText: 'Enviar',
      isBtnDisabled: true,
      loading: true,
      form: {
        LogoUrl: 'http://fasters.com.br/res/images/clientes/paulohoffman.png',
        MailTo: 'paulo@paulohoffmanadvogados.com.br,rogerio@agenciaexplorer.com.br,maiara@hoffmanadvogados.com.br'
      }
    }
  },
  watch: {
    'form.Info'() {
        this.form.Message =
          this.form.Info +
          (this.form.City ? '. ' +  this.form.City : '') +
          (this.form.State ? ', ' + this.form.State : '')
    },

  },
  created: function () {
  },
  mounted: function () {
    this.initSlider();

    $('#exampleModal').on('hidden.bs.modal', function (e) {
        $("#ytplayer").remove();
    });

    $('#exampleModal').on('show.bs.modal', function (e) {
      $("#modal-video").append('<iframe id="ytplayer" width="100%" style="height: 85vh" src="https://www.youtube.com/embed/WSJ1WG46AAQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>');
    });

  },
  methods: {
    

    initSlider: function () {
      $(document).ready(function(){
    

      $('.slick').slick({
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 5,
        dots: true,
        infinite: true,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              arrows: false,
              centerPadding: '0px',
              slidesToScroll: 3,
              slidesToShow: 3
            }
          },
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerPadding: '40px',
              slidesToScroll: 1,
              slidesToShow: 1
            },

          }
        ]
        });
      });
    },
    onSubmit: function () {
      this.btnText = 'Enviando...'
      this.isBtnDisabled = true;

      this.$http.post('http://mail.fasters.com.br/api/send', this.form, {
          headers : { 'Content-Type' : 'application/json' }
      }).then((response) => {
          alert('Seu e-mail foi enviado com sucesso. Logo, um de nossos consultores entrará em contato. Obrigado!');
          this.btnText = 'Enviar'
          this.form.FromName = ''
          this.form.From = ''
          this.form.Phone = ''
          this.form.Message = ''
          this.isBtnDisabled = false;
      
      }, (response) => {
          alert('Houve uma falha no envio do e-mail. Por favor, tente novamente mais tarde.');
          this.isBtnDisabled = false;
          this.btnText = 'Enviar'
          this.formFromName = ''
          this.form.From = ''
          this.form.Company = ''
          this.form.Phone = ''
          this.form.Message = ''
          console.log(response);
      });
    },
    
  },
  head: {
    title: {
      inner: 'Home'
    },
    meta: [{
      name: '',
      content: '',
      id: ''
    }]
  }
}
</script>



