<template>
<div>
  <div class="expe">
    <div class="container">
          <Contato-Md></Contato-Md>
    </div>
  </div>

  <div class="atuacao">
    <div class="pint"></div>
    <div class="container atuacont-cus">
      <div class="row">
        <div class="col-md-6">
          <div class="atua-text">

             <h4 class="h4-atua" id="forms">CONTATO</h4>
              <p class="p-atu-form">Todos os campos são obrigatórios.</p>
               <form class="form-atua" @submit.prevent="onSubmit" >
                <input required type="text" placeholder="Nome Completo" v-model="form.FromName" >
                <input required type="e-mail" placeholder="E-mail" v-model="form.From">
                <masked-input mask="(11) 1111-11111" required placeholder="(00) 0000-00000" type="text" v-model="form.Phone"/>
                <textarea required placeholder="Escreva um breve resumo do seu caso" v-model="form.message" ></textarea>
                <button class="enviar-form" type="submit">ENVIAR <i class="far fa-paper-plane"></i></button>
              </form>
             
          </div>
        </div>
        <div class="col-md-6 col-edit-atua">
          <div class="atua-form">
            <div class="form-cont">
             
             <!-- <p class="p-numero"><span class="span-number">+55 (11)</span> &nbsp;&nbsp;4228-3000</p> -->
              <a class="p-numero" target="_blank" href="tel: +55 11 4228-3000">
                         <span class="span-number">+55 (11)</span> &nbsp;&nbsp;4228-3000 </a>
                         <br>  
              <a target="_blank" class="p-numero" href="https://wa.me/+5511964704098?text=sua%20mensagem">
                          <span class="span-number">+55 (11) </span>96470-4098 <img class="img-wpp" src="../../static/img/whatsapp.png">
              </a><br>     
             <!-- <p class="p-numero"><span class="span-number">+55 (11)</span> 96470-4098<img class="img-wpp" src="../../static/img/whatsapp.png"></p>   -->
              <div class="footer-p1">
                <p>
                  <b>São Caetano do Sul</b><br>
                  Rua Floriano Peixoto, 111<br>
                  São Caetano do Sul-SP<br>
                  CEP 09541-350<br>
                </p>
              </div> 
              <div class="footer-p2">
                <p>
                  <b>São Paulo</b><br>
                  Rua Gomes de Carvalho, 1356<br>
                  2º andar - sala 102<br>
                  Vila Olímpia - São Paulo - SP<br>
                  CEP 04547-005
                </p>
              </div> 
            </div> 
          </div>
        </div>
    </div>
    
  </div>
</div>
</div>
</template>
<style scoped>

.expe{
  background-image: url("/../static/img/Topo.jpg");
  /* height: 600px; */
  background-size: cover;
  /* border-bottom: solid 5px #fff; */
}
.atuacont-cus{
  max-width: 100%;
}
.home-left{
  text-align: center;
  padding-top: 55px;
}
.home-left img{
  height: 75px;
}
.home-left h1{
  color: #fff;
  margin-top: 25px;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
}

.home-right p{
  color: #fff;
  text-align: justify;
  font-size: 20px;
}


.atua-text{
  padding-right: 35px;
  padding-top: 25%;
  padding-bottom: 15%;
  padding-left: 30%;
}
.atua-form{
  background-color: #E7E7E7;
  height: 100%;
}
.col-edit-atua{
  padding-right: 0;
  padding-left: 0;
}
.h4-atua{
  /* width: 40%; */
  border-bottom: solid 2px #384c53;
  font-size: 55px;
  font-weight: bold;
  padding-bottom: 20px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  color: #384c53;
}
.form-cont{
  padding-top: 23%;
  padding-bottom: 20%;
  /* padding-top: 8%; */
  padding-left:8%; 
  /* padding-right:30%;  */
}

.p-atu-form{
  letter-spacing: 1px;
  font-weight: 100;
  /* font-size: 15px; */
  margin-bottom: 50px;
  margin-top: 20px;
}
.form-atua{
  display: flex;
  flex-direction: column;
}
.form-atua input{
    padding:15px; 
    height: 35px;;
    border-radius: 18px;
    margin-bottom: 20px;
    border: solid 1px #586f77;
}
.form-atua textarea{
    padding:15px; 
    height: 135px;;
    border-radius: 18px;
    margin-bottom: 25px;
    border: solid 1px #586f77;
}
.form-atua button{
  margin-bottom: 50px;
}
.tittle-out{
  font-weight: bold;
  color: #384c53;
  margin-top: 20%;
  margin-bottom: 15%;
  font-size: 20px;
  letter-spacing: 5px;
}
.out-span{
  font-weight: 100;
}

.row-cus-out{
     margin-bottom: 8%;
}
   
.line-out-p{
  font-weight: bold;
  color: #384c53;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 20px;
  padding-right: 0px;
}
.none{
  display: none;
}
.block{
  display: block;
}
.direito-out{
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 3px;
}
.triangule{
  height: 15px;
  margin-top: -4px;
}
#md-empresa, #md-civil, #md-consumidor, #md-imob, #md-familia, #md-trabalho{
  transition: 1s;
}
.p-numero{
  color: #384c53;
  font-weight: 800;
  font-size: 35px;
}
.span-number{
  font-size: 30px;
  font-weight: 600;
}

.footer-p1{
  padding-top: 8%;
  line-height: 35px;
}
.footer-p2{
  line-height: 35px;
}
.footer-p1 p {
  color: #384c53;
  font-weight: 600;
}
.footer-p2 p {
  color: #384c53;
  font-weight: 600;
}
.img-wpp{
      height: 50px;
    padding-bottom: 10px;
    margin-left: 12px;
}
::placeholder{
  color: #8a8a8a;
}
@media only screen and (max-width: 992px) {
    .p-numero{
      font-size: 23px;
    }
}
@media only screen and (max-width: 767px) {
  .atuacont-cus{
    float: none;
    max-width: 755px;
    /* width: 100%; */
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0; 
    margin-left: 0;
  }
  .atua-text{
   padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 0%;
    padding-top: 6%;
  }
  .form-cont{
    padding-top: 6%;
    padding-bottom: 6%;
  }
}  
</style>

<script>
import MaskedInput from 'vue-masked-input';
import TrabalhoMd from '../pages/modules/Trabalho'
import FamiliaMd from '../pages/modules/Familia'
import ImobiliarioMd from '../pages/modules/Imobiliario'
import ConsumidorMd from '../pages/modules/Consumidor'
import CiviloMd from '../pages/modules/Civil'
import ContatoMd from '../pages/modules/ContatoMd'
import empresarial from '../pages/modules/empresarial'
export default {
  name: 'home',

  components: {
    'Trabalho-Md': TrabalhoMd,
    'Familia-Md': FamiliaMd,
    'Imobiliario-Md': ImobiliarioMd,
    'Consumidor-Md': ConsumidorMd,
    'Civil-Md': CiviloMd,
    'Contato-Md': ContatoMd,
    'empresarial-Md': empresarial,
    MaskedInput
  },
  data: function () {
    return {
      btnText: 'Enviar',
      isBtnDisabled: true,
      loading: true,
      form: {
        LogoUrl: 'http://fasters.com.br/res/images/clientes/paulohoffman.png',
        MailTo: 'paulo@paulohoffmanadvogados.com.br,rogerio@agenciaexplorer.com.br,maiara@hoffmanadvogados.com.br'
      }
    }
  },
  watch: {
    'form.Info'() {
        this.form.Message =
          this.form.Info +
          (this.form.City ? '. ' +  this.form.City : '') +
          (this.form.State ? ', ' + this.form.State : '')
    },

  },
  created: function () {
  },
  mounted: function () {
    this.initSlider();

    $('#exampleModal').on('hidden.bs.modal', function (e) {
        $("#ytplayer").remove();
    });

    $('#exampleModal').on('show.bs.modal', function (e) {
      $("#modal-video").append('<iframe id="ytplayer" width="100%" style="height: 85vh" src="https://www.youtube.com/embed/WSJ1WG46AAQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>');
    });

  },
  methods: {
    
    initSlider: function () {
      $(document).ready(function(){
       

      $('.slick').slick({
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 5,
        dots: true,
        infinite: true,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              arrows: false,
              centerPadding: '0px',
              slidesToScroll: 3,
              slidesToShow: 3
            }
          },
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerPadding: '40px',
              slidesToScroll: 1,
              slidesToShow: 1
            },

          }
        ]
        });
      });
    },
    onSubmit: function () {
      this.btnText = 'Enviando...'
      this.isBtnDisabled = true;

      this.$http.post('http://mail.fasters.com.br/api/send', this.form, {
          headers : { 'Content-Type' : 'application/json' }
      }).then((response) => {
          alert('Seu e-mail foi enviado com sucesso e logo entraremos em contato. Obrigado!');
          this.btnText = 'Enviar'
          this.form = '';
          this.isBtnDisabled = false;
      }, (response) => {
          alert('Houve uma falha no envio do e-mail. Por favor, tente novamente mais tarde.');
          this.isBtnDisabled = false;
          this.btnText = 'Enviar'
          this.form.FromName = ''
          this.form.From = ''
          this.form.Company = ''
          this.form.Phone = ''
          this.form.Info = ''
          console.log(response);
      });
    },
    scrollTo: function ($selector, stayInpage) {

      function scroll() {
        var diff = 115;

        $('html, #app').animate({
          scrollTop: $($selector).offset().top - diff
        }, 1000);
        $('#navbarNavDropdown').collapse('hide');
      }

      if (this.$route.path == '/' || stayInpage) {
        scroll()
        $('#navbarNavDropdown').collapse('hide');
      } else {
        this.$router.push('/');
        setTimeout(scroll, 4000);
        $('#navbarNavDropdown').collapse('hide');
      }



  }
  },
  head: {
    title: {
      inner: 'Home'
    },
    meta: [{
      name: '',
      content: '',
      id: ''
    }]
  }
}
</script>



