<template>
  <div class="home">
    <div class="expe">
    <div class="container">
          <Contato-Md></Contato-Md>
    </div>
  </div>

    <div class="area-atua">
      <div class="button-div">
       <a  href="#" @click.prevent="scrolA('#forms', false)" class="btn-entre-home">ENTRE EM CONTATO</a>
      </div>
      <div class="container">
        <div class="row rowcus-area">
          <div class="col-md-11 mx-auto">
            <div class="text-center div-areah2 ">
              <h2>ÁREAS DE <b>ATUAÇÃO</b></h2>
            </div> 
            <div class="atua-icons">
                <router-link :to="'/Atuacao/empresarial'" class="col-md-4" style="margin-bottom: 3em;">
                  <div class="div-item">
                    <div class="col-4 text-center">
                      <img src="../../static/icons/briefcase.svg" class="icons-atua">
                    </div>
                    <div class="col-8 text-center">
                      <div class="p-atua">
                        <p class="fisrst-p-atua">DIREITO</p>
                        <p class="second-p-atua"> <img class="triangule-br"
                        src="../../static/icons/triangulebranco.png">EMPRESARIAL</p>
                      </div>  
                    </div>
                  </div>  
                </router-link>
                <router-link :to="'/Atuacao/recuperacao'" class="col-md-4" style="margin-bottom: 3em;">
                  <div class="div-item">
                    <div class="col-4 text-center">
                      <img src="../../static/icons/empresas.svg" class="icons-atua">
                    </div>
                    <div class="col-8 text-center">
                      <div class="p-atua">
                        <p class="fisrst-p-atua">RECUPERAÇÃO</p>
                        <p class="second-p-atua"><img class="triangule-br" 
                        src="../../static/icons/triangulebranco.png">DE EMPRESAS</p>
                      </div>   
                    </div>
                  </div>  
                </router-link>
                <router-link :to="'/Atuacao/saude'" class="col-md-4" style="margin-bottom: 3em;">
                  <div class="div-item">
                    <div class="col-4 text-center">
                      <img src="../../static/icons/heartbeat.svg" class="icons-atua">
                    </div>
                    <div class="col-8 text-center">
                      <div class="p-atua">
                        <p class="fisrst-p-atua">DIREITO DA</p>
                        <p class="second-p-atua"><img class="triangule-br" 
                        src="../../static/icons/triangulebranco.png">SAÚDE</p>
                      </div>  
                    </div>
                  </div>
                </router-link>
                <router-link :to="'/atuacao/divorcio'" class="col-md-4" style="margin-bottom: 3em;">
                  <div class="div-item">
                    <div class="col-4 text-center">
                      <img src="../../static/icons/DIVORCIO.svg" class="icons-atua">
                    </div>
                    <div class="col-8 text-center">
                      <div class="p-atua">
                        <p class="fisrst-p-atua">INVENTÁRIO E</p>
                        <p class="second-p-atua"><img class="triangule-br" 
                        src="../../static/icons/triangulebranco.png">DIVÓRCIO</p>
                      </div>
                    </div>
                  </div>  
              </router-link>
                <router-link :to="'/Atuacao/familia'" class="col-md-4" style="margin-bottom: 3em;">
                  <div class="div-item">
                    <div class="col-4 text-center">
                      <img src="../../static/icons/family.svg" class="icons-atua">
                    </div>
                    <div class="col-8 text-center">
                      <div class="p-atua">
                        <p class="fisrst-p-atua">DIREITO DE</p>
                        <p class="second-p-atua"> <img class="triangule-br" 
                        src="../../static/icons/triangulebranco.png">FAMÍLIA</p>
                      </div>
                    </div>
                  </div>  
                </router-link>
                <router-link :to="'/Atuacao/trabalho'" class="col-md-4" style="margin-bottom: 3em;">
                  <div class="div-item">
                    <div class="col-4 text-center">
                      <img src="../../static/icons/seller.svg" class="icons-atua">
                    </div>
                    <div class="col-8 text-center">
                      <div class="p-atua">
                        <p class="fisrst-p-atua">DIREITO DO</p>
                        <p class="second-p-atua"><img class="triangule-br" 
                        src="../../static/icons/triangulebranco.png">TRABALHO</p>
                      </div>  
                    </div>
                  </div>  
                </router-link>
                <router-link :to="'/Atuacao/civil'" class="col-md-4" style="margin-bottom: 3em;">
                  <div class="div-item">
                    <div class="col-md-4 text-center">
                      <img src="../../static/icons/scale.svg" class="icons-atua">
                    </div>
                    <div class="col-8 text-center">
                      <div class="p-atua">
                        <p class="fisrst-p-atua">DIREITO</p>
                        <p class="second-p-atua"><img class="triangule-br" 
                        src="../../static/icons/triangulebranco.png">CIVIL</p>
                      </div>  
                    </div>
                  </div>  
                </router-link>
                <router-link :to="'/atuacao/consumidor'" class="col-md-4" style="margin-bottom: 3em;">
                  <div class="div-item">
                    <div class="col-4 text-center">
                      <img src="../../static/icons/justice.svg" class="icons-atua">
                    </div>
                    <div class="col-8 text-center">
                      <div class="p-atua">
                        <p class="fisrst-p-atua">DIREITO DO</p>
                        <p class="second-p-atua"><img class="triangule-br"
                        src="../../static/icons/triangulebranco.png">CONSUMIDOR</p>
                      </div>  
                    </div>
                  </div>  
                </router-link>
                <router-link :to="'/Atuacao/imobiliario'" class="col-md-4" style="margin-bottom: 3em;">
                  <div class="div-item">
                    <div class="col-4 text-center">
                      <img src="../../static/icons/building.svg" class="icons-atua">
                    </div>
                    <div class="col-8 text-center">
                      <div class="p-atua">
                        <p class="fisrst-p-atua">DIREITO</p>
                        <p class="second-p-atua"><img class="triangule-br" 
                        src="../../static/icons/triangulebranco.png">IMOBILIÁRIO</p>
                      </div>  
                    </div>
                  </div>  
                </router-link>    
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.expe{
  background-image: url("/../static/img/Topo.jpg");
  /* height: 600px; */
  background-size: cover;
  border-bottom: solid 5px #fff;
}
.button-div{
  position: relative;
  text-align: center;
  width: 100%;
}
.atua-icons a {
    color: inherit;
    text-decoration: none;
    opacity: .5;
    transition: .5s;
}
.atua-icons a:hover{
  opacity: 1;
}
.btn-entre-home{
  position: relative;
    top: -13px;
    /* margin-top: -18px; */
    /* right: 600px; */
    background: #fff;
    border: 0;
    font-weight: bold;
    color: #384c53;
    padding-right: 45px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;
    letter-spacing: 1px;
    height: 35px;
    border-radius: 30px;
    transition: .5s;
}
.btn-entre-home:hover{
  background-color: #384c53;
  color: #fff;
  text-decoration: none;
}
.area-atua{
  background-image: url("../../static/img/Atuaçao.jpg");
  background-size: cover;
}

.div-areah2 h2{
  color: #fff;
  font-size: 18px !important;
  font-weight: 100;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.div-areah2 {
  width: 290px;
  border-bottom: solid 2px #fff;
  margin-left: auto;
  margin-right: auto;
}
.rowcus-area{
  padding-top: 50px;
  padding-bottom: 0px;
}
.atua-icons{
  display: flex;
  width: 100%;
  /* padding-left: 100px;
  padding-right: 100px; */
  padding-top: 50px;
  flex-direction: row;
    flex-wrap: wrap;
  justify-content: center;
}
.flex-cont{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 30px;
}
.center-cus{
  padding-left: 50px;
}
.icons-atua{
  height: 50px;
  width: 50px;
}
.icons-atua img {
  height: 40px;
  text-align: center
}
.div-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-atua p{
  color: #fff;

}
.fisrst-p-atua{
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 15px;

}
.second-p-atua{
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
}
@media only screen and (max-width: 992px) {
    .atua-icons{
      padding-left: 0;
      padding-right: 0;
    }
    .center-cus{
      padding-left: 35px;
    }
}
@media only screen and (max-width: 767px) {
    .div-item{
      width: 43%;
    }
    .center-cus{
      padding-left: 0;
    }
    .atua-icons{
      padding-top: 50px;
    }
}
@media only screen and (max-width: 533px) {
    .div-item{
      width: 100%;
    }
}

  .triangule-br{
    height: 15px;
  }
</style>

<script>


import ContatoMd from '../pages/modules/ContatoMd'
export default {
  name: 'home',

  components: {
    'Contato-Md': ContatoMd,
  },
  data: function () {
    return {
      btnText: 'Enviar',
      isBtnDisabled: false,
      loading: true,
      form: {
        LogoUrl: 'http://fasters.com.br/res/images/clientes/logo-master-net.png',
        MailTo: ''
      }
    }
  },
  watch: {
    'form.Info'() {
        this.form.Message =
          this.form.Info +
          (this.form.City ? '. ' +  this.form.City : '') +
          (this.form.State ? ', ' + this.form.State : '')
    },

  },
  created: function () {
    
  },
  mounted: function () {
    this.initSlider();

    $('#exampleModal').on('hidden.bs.modal', function (e) {
        $("#ytplayer").remove();
    });

    $('#exampleModal').on('show.bs.modal', function (e) {
      $("#modal-video").append('<iframe id="ytplayer" width="100%" style="height: 85vh" src="https://www.youtube.com/embed/WSJ1WG46AAQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>');
    });

  },
  methods: {
    initSlider: function () {
      $(document).ready(function(){
      $('.slick').slick({
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 5,
        dots: true,
        infinite: true,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              arrows: false,
              centerPadding: '0px',
              slidesToScroll: 3,
              slidesToShow: 3
            }
          },
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerPadding: '40px',
              slidesToScroll: 1,
              slidesToShow: 1
            },

          }
        ]
        });
      });
    },
    scrolA: function ($selector, stayInpage ) {
      function scroll() {
        var teste =  $($selector).offset();
        console.log(teste);
        
        var diff = 130;
        $('html, body').animate({
          scrollTop: $($selector).offset().top - diff 
        }, 500);
      }

      if (this.$route.path == '/Contato' || stayInpage) {
        scroll()
        
      } else {
        this.$router.push('/Contato');
        setTimeout(scroll, 500);
      
      }
    },
    onSubmit: function () {
      this.btnText = 'Enviando...'
      this.isBtnDisabled = true;

      this.$http.post('http://mail.fasters.com.br/api/send', this.form, {
          headers : { 'Content-Type' : 'application/json' }
      }).then((response) => {
          alert('Seu e-mail foi enviado com sucesso. Logo, um de nossos consultores entrará em contato. Obrigado!');
          this.btnText = 'Enviar'
          this.form.FromName = ''
          this.form.From = ''
          this.form.Company = ''
          this.form.Phone = ''
          this.form.Info = ''
          this.isBtnDisabled = false;
      }, (response) => {
          alert('Houve uma falha no envio do e-mail. Por favor, tente novamente mais tarde.');
          this.isBtnDisabled = false;
          this.btnText = 'Enviar'
          this.form.FromName = ''
          this.form.From = ''
          this.form.Company = ''
          this.form.Phone = ''
          this.form.Info = ''
          console.log(response);
      });
    },
    scrollTo: function ($selector, stayInpage) {

      function scroll() {
        var diff = 115;

        $('html, #app').animate({
          scrollTop: $($selector).offset().top - diff
        }, 1000);
        $('#navbarNavDropdown').collapse('hide');
      }

      if (this.$route.path == '/' || stayInpage) {
        scroll()
        $('#navbarNavDropdown').collapse('hide');
      } else {
        this.$router.push('/');
        setTimeout(scroll, 4000);
        $('#navbarNavDropdown').collapse('hide');
      }



  }
  },
  head: {
    title: {
      inner: 'Home'
    },
    meta: [{
      name: '',
      content: '',
      id: ''
    }]
  }
}
</script>
