<template>
<div>
  <div class="expe">
    <div class="container">
          <Contato-Md></Contato-Md>
    </div>
  </div>

  <div class="midia">
    <div class="container contquem-cus">
      <div class="row">
        <div class="col-md-12">
          <h2 class="h2-pub"><span class="span-nossa">NOSSAS</span><br> PUBLICAÇÕES</h2>

            <router-link class="a-drop "  :to="'/publicacao'">
            <div class="div-texto">
                <h3 class="h3-pub">SANEAMENTO COMPARTILHADO</h3>
                <div class="p-autor">
                <p>Por Paulo Hoffman</p>
                </div>

                <p>
                  Para alguns, apenas uma ideia, para muitos uma utopia, para mim , porém, a lógica da reunião
                  entre prática e teoria, resultado da experiência de advogado militante e apaixonado pelo que faz
                  e que não se conforma com um sistema burocrático e viciado.
                </p>
            </div>
            </router-link>
            
            <router-link class="a-drop "  :to="'/publicacao'">
            <div class="div-texto">
                <h3 class="h3-pub">UNIFORMIZAÇÃO DE JURISPRUDÊNCIA<br>(DE 1º GRAU)</h3>

                <div class="p-autor">
                  <p>Por Paulo Hoffman</p>
                </div>

                <div class="p-text">
                  <p >
                    Nada faz aflorar mais no cidadão comun o sentimento de injustiça do que ter seu pedido julgado
                    improcedente, enquanto seu vizinho, amigo, parente, enfim, alguém de sua convivênvia próxima,
                    obtém êxito na justiça em caso semelhante.
                  </p>
                </div>
            </div>
            </router-link>

            <router-link class="a-drop "  :to="'/publicacao'">
            <div class="div-texto">
                <h3 class="h3-pub">SANEAMENTO COMPARTILHADO</h3>
                <div class="p-autor">
                <p>Por Paulo Hoffman</p>
                </div>

                <p>
                  Para alguns, apenas uma ideia, para muitos uma utopia, para mim , porém, a lógica da reunião
                  entre prática e teoria, resultado da experiência de advogado militante e apaixonado pelo que faz
                  e que não se conforma com um sistema burocrático e viciado.
                </p>
            </div>
            </router-link>
          </div>          




        </div>  
      </div>
    </div>
  </div>
</div>
</template>
<style scoped>
.expe{
  background-image: url("/../static/img/Topo.jpg");
  /* height: 600px; */
  background-size: cover;
  border-bottom: solid 5px #fff;
}
.home-left{
  text-align: center;
  padding-top: 55px;
}
.home-left img{
  height: 75px;
}
.home-left h1{
  color: #fff;
  margin-top: 25px;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
}

.home-right p{
  color: #fff;
  text-align: justify;
font-size: 20px;
}

/* ------------------------ */
.contquem-cus{
  max-width: 850px;
  padding-top: 25px;
  padding-bottom:40px;
}
.span-nossa{
  letter-spacing: 10px;
  color: #1e2c32;
  font-weight: 100;
  font-size: 25px;
}
.h2-pub{
  font-size: 60px;
  color: #384c53;
  font-weight: bold;
}
.h3-pub{
  font-weight: bold;
  color: #586f77;
  font-size: 35px;
  transition: .5s
}
.h3-pub2{
  font-weight: bold;
  color: #1e2c32;
  font-size: 35px;
}
.p-autor{
  font-weight: 300;
  color: #384c53;
  font-style: italic;
  margin-bottom: 5%;
}
.p-text{
  color: #586f77;
}
.div-texto{
      padding-top: 10%;
    padding-bottom: 3%;
    border-bottom: solid 3px #586f77;
    margin-bottom: 5%;
}
.div-texto2{
    padding-bottom: 3%;
    border-bottom: solid 1px #000;
    margin-bottom: 5%;
}
@media only screen and (max-width: 440px) {
  .span-nossa{
    font-size: 20px;
  }
  .h2-pub{
    font-size: 40px;
  }
  .h3-pub{
    font-size: 30px;
  }
  
}
.div-texto{
  cursor: pointer;
  transition: .5s;
}


.div-texto:hover p {
  color: black;
}
.div-texto:hover .h3-pub{
  color: black;
}
</style>

<script>
import ContatoMd from '../pages/modules/ContatoMd'
export default {
  name: 'home',

  components: {
    'Contato-Md': ContatoMd,
  },
  data: function () {
    return {
      btnText: 'Enviar',
      isBtnDisabled: false,
      loading: true,
      form: {
        LogoUrl: 'http://fasters.com.br/res/images/clientes/logo-master-net.png',
        MailTo: ''
      }
    }
  },
  watch: {
    'form.Info'() {
        this.form.Message =
          this.form.Info +
          (this.form.City ? '. ' +  this.form.City : '') +
          (this.form.State ? ', ' + this.form.State : '')
    },

  },
  created: function () {
  },
  mounted: function () {
    this.initSlider();

    $('#exampleModal').on('hidden.bs.modal', function (e) {
        $("#ytplayer").remove();
    });

    $('#exampleModal').on('show.bs.modal', function (e) {
      $("#modal-video").append('<iframe id="ytplayer" width="100%" style="height: 85vh" src="https://www.youtube.com/embed/WSJ1WG46AAQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>');
    });

  },
  methods: {
    initSlider: function () {
      $(document).ready(function(){
      $('.slick').slick({
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 5,
        dots: true,
        infinite: true,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              arrows: false,
              centerPadding: '0px',
              slidesToScroll: 3,
              slidesToShow: 3
            }
          },
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerPadding: '40px',
              slidesToScroll: 1,
              slidesToShow: 1
            },

          }
        ]
        });
      });
    },
    onSubmit: function () {
      this.btnText = 'Enviando...'
      this.isBtnDisabled = true;

      this.$http.post('http://mail.fasters.com.br/api/send', this.form, {
          headers : { 'Content-Type' : 'application/json' }
      }).then((response) => {
          alert('Seu e-mail foi enviado com sucesso. Logo, um de nossos consultores entrará em contato. Obrigado!');
          this.btnText = 'Enviar'
          this.form.FromName = ''
          this.form.From = ''
          this.form.Company = ''
          this.form.Phone = ''
          this.form.Info = ''
          this.isBtnDisabled = false;
      }, (response) => {
          alert('Houve uma falha no envio do e-mail. Por favor, tente novamente mais tarde.');
          this.isBtnDisabled = false;
          this.btnText = 'Enviar'
          this.form.FromName = ''
          this.form.From = ''
          this.form.Company = ''
          this.form.Phone = ''
          this.form.Info = ''
          console.log(response);
      });
    },
    scrollTo: function ($selector, stayInpage) {

      function scroll() {
        var diff = 115;

        $('html, #app').animate({
          scrollTop: $($selector).offset().top - diff
        }, 1000);
        $('#navbarNavDropdown').collapse('hide');
      }

      if (this.$route.path == '/' || stayInpage) {
        scroll()
        $('#navbarNavDropdown').collapse('hide');
      } else {
        this.$router.push('/');
        setTimeout(scroll, 4000);
        $('#navbarNavDropdown').collapse('hide');
      }



  }
  },
  head: {
    title: {
      inner: 'Midia'
    },
    meta: [{
      name: '',
      content: '',
      id: ''
    }]
  }
}
</script>
