<template>
  <div>
    <div class="expe">
      <div class="container">
        <Contato-Md></Contato-Md>
      </div>
    </div>

    <div class="quem-somos">
      <div class="container contquem-cus">
        <div class="row">
          <div class="col-md-12">
            <div class="central">
                <h3 class="h3-pub">SANEAMENTO COMPARTILHADO</h3>
                
            </div>
            <p class="p-right">Para alguns, apenas uma ideia, para muitos uma utopia, para mim , porém, a lógica da reunião
              entre prática e teoria, resultado da experiência de advogado militante e apaixonado pelo que faz
              e que não se conforma com um sistema burocrático e viciado.
              Para alguns, apenas uma ideia, para muitos uma utopia, para mim , porém, a lógica da reunião
              entre prática e teoria, resultado da experiência de advogado militante e apaixonado pelo que faz
              e que não se conforma com um sistema burocrático e viciado.
              Para alguns, apenas uma ideia, para muitos uma utopia, para mim , porém, a lógica da reunião
              entre prática e teoria, resultado da experiência de advogado militante e apaixonado pelo que faz
              e que não se conforma com um sistema burocrático e viciado.
              Para alguns, apenas uma ideia, para muitos uma utopia, para mim , porém, a lógica da reunião
              entre prática e teoria, resultado da experiência de advogado militante e apaixonado pelo que faz
              e que não se conforma com um sistema burocrático e viciado.
              Para alguns, apenas uma ideia, para muitos uma utopia, para mim , porém, a lógica da reunião
              entre prática e teoria, resultado da experiência de advogado militante e apaixonado pelo que faz
              e que não se conforma com um sistema burocrático e viciado.
              Para alguns, apenas uma ideia, para muitos uma utopia, para mim , porém, a lógica da reunião
              entre prática e teoria, resultado da experiência de advogado militante e apaixonado pelo que faz
              e que não se conforma com um sistema burocrático e viciado.
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.central{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.expe {
  background-image: url("/../static/img/Topo.jpg");
  /* height: 600px; */
  background-size: cover;
  border-bottom: solid 5px #fff;
}
.home-left {
  text-align: center;
  padding-top: 55px;
}
.home-left img {
  height: 75px;
}
.p-autor{
  font-weight: 300;
  color: #384c53;
  font-style: italic;
  margin-bottom: 5%;
}
.home-left h1 {
  color: #fff;
  margin-top: 25px;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
}
.h3-pub{
  font-weight: bold;
  color: #586f77;
  font-size: 35px;
  transition: .5s;
  padding-bottom:45px;
}
.home-right p {
  color: #fff;
  text-align: justify;
  font-size: 20px;
}

/* ------------------------ */
.contquem-cus {
  max-width: 850px;
  padding-top: 80px;
  padding-bottom: 125px;
}
.p-right,
.p-left {
  text-align: justify;
}
.span-paulo {
  color: #1e2c32;
  font-weight: bold;
}
.priorizamos {
  color: #1e2c32;
  font-weight: bold;
  font-size: 21px;
  text-align: left;
}
</style>

<script>
import ContatoMd from "../pages/modules/ContatoMd";
export default {
  name: "home",

  components: {
    "Contato-Md": ContatoMd
  },
  data: function() {
    return {
      btnText: "Enviar",
      isBtnDisabled: false,
      loading: true,
      form: {
        LogoUrl:
          "http://fasters.com.br/res/images/clientes/logo-master-net.png",
        MailTo: ""
      }
    };
  },
  watch: {
    "form.Info"() {
      this.form.Message =
        this.form.Info +
        (this.form.City ? ". " + this.form.City : "") +
        (this.form.State ? ", " + this.form.State : "");
    }
  },
  created: function() {},
  mounted: function() {
    var now = new Date();
    var year2 = now.getFullYear();
    var idade = year2 - 1973;
    $("#idade").text(idade);
    this.initSlider();

    $("#exampleModal").on("hidden.bs.modal", function(e) {
      $("#ytplayer").remove();
    });

    $("#exampleModal").on("show.bs.modal", function(e) {
      $("#modal-video").append(
        '<iframe id="ytplayer" width="100%" style="height: 85vh" src="https://www.youtube.com/embed/WSJ1WG46AAQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>'
      );
    });
  },
  methods: {
    initSlider: function() {
      $(document).ready(function() {
        $(".slick").slick({
          infinite: true,
          slidesToShow: 5,
          slidesToScroll: 5,
          dots: true,
          infinite: true,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                arrows: false,
                centerPadding: "0px",
                slidesToScroll: 3,
                slidesToShow: 3
              }
            },
            {
              breakpoint: 768,
              settings: {
                arrows: false,
                centerPadding: "40px",
                slidesToScroll: 1,
                slidesToShow: 1
              }
            }
          ]
        });
      });
    },
    onSubmit: function() {
      this.btnText = "Enviando...";
      this.isBtnDisabled = true;

      this.$http
        .post("http://mail.fasters.com.br/api/send", this.form, {
          headers: { "Content-Type": "application/json" }
        })
        .then(
          response => {
            alert(
              "Seu e-mail foi enviado com sucesso. Logo, um de nossos consultores entrará em contato. Obrigado!"
            );
            this.btnText = "Enviar";
            this.form.FromName = "";
            this.form.From = "";
            this.form.Company = "";
            this.form.Phone = "";
            this.form.Info = "";
            this.isBtnDisabled = false;
          },
          response => {
            alert(
              "Houve uma falha no envio do e-mail. Por favor, tente novamente mais tarde."
            );
            this.isBtnDisabled = false;
            this.btnText = "Enviar";
            this.form.FromName = "";
            this.form.From = "";
            this.form.Company = "";
            this.form.Phone = "";
            this.form.Info = "";
            console.log(response);
          }
        );
    },
    scrollTo: function($selector, stayInpage) {
      function scroll() {
        var diff = 115;

        $("html, #app").animate(
          {
            scrollTop: $($selector).offset().top - diff
          },
          1000
        );
        $("#navbarNavDropdown").collapse("hide");
      }

      if (this.$route.path == "/" || stayInpage) {
        scroll();
        $("#navbarNavDropdown").collapse("hide");
      } else {
        this.$router.push("/");
        setTimeout(scroll, 4000);
        $("#navbarNavDropdown").collapse("hide");
      }
    }
  },
  head: {
    title: {
      inner: "Home"
    },
    meta: [
      {
        name: "",
        content: "",
        id: ""
      }
    ]
  }
};
</script>
