<template>
  <div>
    <div class="expe">
      <div class="container">
        <Contato-Md></Contato-Md>
      </div>
    </div>

    <div class="quem-somos">
      <div class="container contquem-cus">
        <div class="row">
          <div class="col-md-6">
            <p class="p-right">
              A
              <span class="span-paulo">PAULO HOFFMAN ADVOGADOS</span> é uma
              tradicional banca sediada na cidade de São
              Caetano do Sul, e também com atendimento
              em São Paulo, fundada por MAURICIO
              HOFFMAN no ano de 1973, com atuação em
              todo o estado de São Paulo, nas áreas cível,
              trabalhista e empresarial.
              <br>
              <br>
              <span class="priorizamos">
                PRIORIZAMOS O RELACIONAMENTO DIRETO E
                PESSOAL, TRATANDO CADA CASO DE FORMA
                PERSONALIZADA.
              </span>
              <br>
              <br>Temos uma estrutura preparada para prestar
              serviço jurídico de forma ágil, responsável e
              eficiente. Contamos, ainda, com escritórios
              associados em várias localidades do país, em
              diversas áreas de atuação do Direito, a
              permitir a necessária solução de toda e
              qualquer questão e defesa dos direitos de
              nossos clientes.
              <br>
              <br>Constituem metas inarredáveis do escritório
              o treinamento de nossa equipe, de modo
              a propiciar constante estudo e o
              acompanhamento da jurisprudência, com 
              investimentos constantes, a dotá-lo de ampla
              capacidade estrutural e tecnológica.
              <br>
              <br>Preocupação incessante da PAULO HOFFMAN
              ADVOGADOS, além da prestação de serviços
              jurídicos na esfera judicial, é o
              assessoramento e o acompanhamento de
              clientes, a fim de muni-los de informações e
              de opniões mais adequadas a evitar
              pendências futuras, atualmente conhecida
              como "advocacia preventiva".
            </p>
          </div>
          <div class="col-md-6">
            <p class="p-left">
              Entre as áreas de atuação destaca-se a
              assessoria a empresas, configurando-se como
              um setor integrado ao próprio cliente,
              proporcionando bons resultados financeiros
              e desempenho empresarial.
              <br>
              <br>Nas questões envolvendo o Direito de Familia,
              caracteriza-se pela atuação que privilegia a
              atenção ao problema do cliente, considerada
              a necessidade de amparo psicológico aliado
              ao jurídico, sem perder o foco do aspecto
              social que deve pautar a conduta dos
              advogados na condução de cada caso.
              <br>
              <br>O sócio majoritário do escritório, Professor
              Dr. Paulo Hoffman, é especialista, mestre e
              doutor em Direito pela PUC-SP, além de
              possuir especialização na <i>Itália</i>. É, também,
              autor de diversos artigos jurídicos, em livros
              e revistas especializados em Direito, e
              também , autor das obras  <i>Saneamento
              Compartilhado e Duração Razoável do
              Processo</i> pela, editora <i>Quartier Latin</i>. Seu
              currículo acadêmico é extenso, tendo
              proferido palestras em várias regiões do país.
              <br>
              <br>

              <span class="priorizamos">
                A PAULO HOFFMAN
                ADVOGADOS tem no Direito não apenas
                a realização de negócios, mas sim uma
                filosofia de vida.
              </span>
              <br>
              <br>Há
              <span id="idade"></span> anos vem se fixando no setor jurídico por excelentes serviços
               prestados com agilidade, responsabilidade e eficiência, fatores que a qualificam como
                um dos mais renomados escritórios de advocacia de São Paulo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.expe {
  background-image: url("/../static/img/Topo.jpg");
  /* height: 600px; */
  background-size: cover;
  border-bottom: solid 5px #fff;
}
.home-left {
  text-align: center;
  padding-top: 55px;
}
.home-left img {
  height: 75px;
}
.home-left h1 {
  color: #fff;
  margin-top: 25px;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
}

.home-right p {
  color: #fff;
  text-align: justify;
  font-size: 20px;
}

/* ------------------------ */
.contquem-cus {
  max-width: 850px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.p-right,
.p-left {
  text-align: justify;
}
.span-paulo {
  color: #1e2c32;
  font-weight: bold;
}
.priorizamos {
  color: #1e2c32;
  font-weight: bold;
  font-size: 21px;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .contquem-cus{
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
</style>

<script>
import ContatoMd from "../pages/modules/ContatoMd";
export default {
  name: "home",

  components: {
    "Contato-Md": ContatoMd
  },
  data: function() {
    return {
      btnText: "Enviar",
      isBtnDisabled: false,
      loading: true,
      form: {
        LogoUrl:
          "http://fasters.com.br/res/images/clientes/logo-master-net.png",
        MailTo: ""
      }
    };
  },
  watch: {
    "form.Info"() {
      this.form.Message =
        this.form.Info +
        (this.form.City ? ". " + this.form.City : "") +
        (this.form.State ? ", " + this.form.State : "");
    }
  },
  created: function() {},
  mounted: function() {
    var now = new Date();
    var year2 = now.getFullYear();
    var idade = year2 - 1973;
    $("#idade").text(idade);
    this.initSlider();

    $("#exampleModal").on("hidden.bs.modal", function(e) {
      $("#ytplayer").remove();
    });

    $("#exampleModal").on("show.bs.modal", function(e) {
      $("#modal-video").append(
        '<iframe id="ytplayer" width="100%" style="height: 85vh" src="https://www.youtube.com/embed/WSJ1WG46AAQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>'
      );
    });
  },
  methods: {
    initSlider: function() {
      $(document).ready(function() {
        $(".slick").slick({
          infinite: true,
          slidesToShow: 5,
          slidesToScroll: 5,
          dots: true,
          infinite: true,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                arrows: false,
                centerPadding: "0px",
                slidesToScroll: 3,
                slidesToShow: 3
              }
            },
            {
              breakpoint: 768,
              settings: {
                arrows: false,
                centerPadding: "40px",
                slidesToScroll: 1,
                slidesToShow: 1
              }
            }
          ]
        });
      });
    },
    onSubmit: function() {
      this.btnText = "Enviando...";
      this.isBtnDisabled = true;

      this.$http
        .post("http://mail.fasters.com.br/api/send", this.form, {
          headers: { "Content-Type": "application/json" }
        })
        .then(
          response => {
            alert(
              "Seu e-mail foi enviado com sucesso. Logo, um de nossos consultores entrará em contato. Obrigado!"
            );
            this.btnText = "Enviar";
            this.form.FromName = "";
            this.form.From = "";
            this.form.Company = "";
            this.form.Phone = "";
            this.form.Info = "";
            this.isBtnDisabled = false;
          },
          response => {
            alert(
              "Houve uma falha no envio do e-mail. Por favor, tente novamente mais tarde."
            );
            this.isBtnDisabled = false;
            this.btnText = "Enviar";
            this.form.FromName = "";
            this.form.From = "";
            this.form.Company = "";
            this.form.Phone = "";
            this.form.Info = "";
            console.log(response);
          }
        );
    },
    scrollTo: function($selector, stayInpage) {
      function scroll() {
        var diff = 115;

        $("html, #app").animate(
          {
            scrollTop: $($selector).offset().top - diff
          },
          1000
        );
        $("#navbarNavDropdown").collapse("hide");
      }

      if (this.$route.path == "/" || stayInpage) {
        scroll();
        $("#navbarNavDropdown").collapse("hide");
      } else {
        this.$router.push("/");
        setTimeout(scroll, 4000);
        $("#navbarNavDropdown").collapse("hide");
      }
    }
  },
  head: {
    title: {
      inner: "Home"
    },
    meta: [
      {
        name: "",
        content: "",
        id: ""
      }
    ]
  }
};
</script>
