<template>
       <div>
         <h2 class="h2-empresa"><span class="direito-h2">DIREITO</span> <br> CIVIL</h2>
         <p class="p-empresa">Atuamos em todo tipo de relação e de negócio jurídico que tenha esteio no direito civil, tais como RESPONSABILIDADE
          CIVIL, adimplemento e inadimplemento de OBRIGAÇÕES, validade e invalidade de NEGÓCIOS JURÍDICOS, elaboração e revisão de contratos,
          direitos e danos MATERIAIS e IMATERIAIS (MORAL, ESTÉTICO, À SAÚDE), etc., tanto no CONTENCIOSO quanto no PREVENTIVO e CONSULTIVO.
         </p>
       </div>
</template>

<style>
.direito-h2{
  color: #384c53;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 30px;
}
.h2-empresa{
  font-weight: bold;
  color: #384c53;
  font-size: 40px;
  margin-bottom: 40px;
}
.p-empresa {
  text-align: justify;
  color: #384c53;
  font-weight: 200;

}
</style>

<script>

export default {
  
  data: function () {
    return {

    }
  },
  watch: {
  },
  created: function () {
  },
  mounted: function () {

  },
  methods: {
  },
}
</script>


