<template>
       <div>
         <h2 class="h2-empresa"><span class="direito-h2">DIREITO DO<br></span> CONSUMIDOR</h2>
         <p class="p-empresa">Atuamos na prestação de serviços jurídicos CONSULTIVOS, PREVENTIVOS E no CONTENCIOSO,
          analisando toda a área de atuação dos comerciantes e empresários, inclusive de modo a evitar as demandas judiciais.
         </p>
          
       </div>
</template>

<style>
.direito-h2{
  color: #384c53;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 30px;
}
.h2-empresa{
  font-weight: bold;
  color: #384c53;
  font-size: 40px;
  margin-bottom: 80px;
}
.p-empresa {
  text-align: justify;
  color: #384c53;
  font-weight: 200;

}
</style>

<script>

export default {
  
  data: function () {
    return {

    }
  },
  watch: {
  },
  created: function () {
  },
  mounted: function () {

  },
  methods: {
  },
}
</script>


