<template>
        <div class="row row-cusexpe">
          <div class="col-md-6">
            <div class="home-left">
              <!-- <img src="../../../static/img/Logo-bco.png"> -->
              <h1> <span id="anos"></span> ANOS<br> DE EXPERIÊNCIA</h1>
            </div>  
          </div>
          <div class="col-md-6">
            <div class="home-right">
              <p>
             <b class="font-800"> PAULO HOFFMAN - doutor, mestre e especialista</b> em Processo Civil pela PUC-SP<br>
              <b class="font-800">Especialista em Processo Civil</b> pela "Università Degli Studi di Milano"<br>
              <b class="font-800">Ex-professor no curso de pós-gradução</b> PUC-SP<br>
              Membro do<b class="font-800"> Instituto Brasileiro de Direito Processual.</b><br>
              Autor de diversos livros.<br>
              <a target="blank" class="a-curriculum" href="http://lattes.cnpq.br/2012118900948830"> Curriculum Lattes</a></p> 
            </div>  
          </div>
        </div>
</template>

<style>
.a-curriculum{
  color: #fff;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
}
.home-left{
  text-align: center;
}
.home-left img{
  height: 75px;
}
.home-left h1{
  color: #fff;
  margin-top: 25px;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
}
.font-800{
  font-weight: bold;
}

.home-right p{
  color: #fff;
  text-align: justify;
  font-weight: 200;
  font-size: 18px;
      padding-top: 25px;
}
.row-cusexpe{
  padding-top: 120px;
  padding-bottom: 120px;
}
@media only screen and (max-width: 992px) {
    .home-left h1{
      font-size: 35px;
          margin-bottom: 25px;
    }
    .home-left img {
      height: 53px;
    }
    .home-right p{
      font-size: 18px;

    }
}
@media only screen and (max-width: 992px) {
  .row-cusexpe{
  padding-top: 0px;
  padding-bottom: 40px;
}

}


</style>

<script>

export default {
  
  data: function () {
    return {
      
    }
  },
  watch: {
  },
  created: function () {
    console.log("criei");
  },
  mounted: function () {
    
     
      var now = new Date();
      var year2 = now.getFullYear();
      var idade = year2 - 1973;
      $("#anos").text(idade);

  },
  methods: {
    method(){
      console.log("criei");
    }
     
 }
}
</script>


