<template>
       <div>
         <h2 class="h2-empresa"><span class="direito-h2">DIREITO</span><br>EMPRESARIAL</h2>
         <p class="p-empresa">Atuamos prestando serviços consultivos, preventivos e no contencioso, bem como assessorando em questões jurídicas
          empresariais e comerciais, elaborando e analisando diversos tipos de contratos.
          <br><br>
          A PAULO HOFFMAN ADVOGADOS atua também fortemente na constituição, incorporação, fusão, aquisição e dissolução de empresas.
          Atuamos também com planejamento sucessório, conhecido como “holding patrimonial” ou empresa patrimonial.
          Consulte-nos sobre assessoria mensal.
         </p>
       </div>
</template>

<style>
.direito-h2{
  color: #384c53;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 30px;
}
.h2-empresa{
  font-weight: bold;
  color: #384c53;
  font-size: 40px;
  margin-bottom: 40px;
}
.p-empresa {
  text-align: justify;
  color: #384c53;
  font-weight: 200;

}
</style>

<script>

export default {
  
  data: function () {
    return {

    }
  },
  watch: {
  },
  created: function () {
  },
  mounted: function () {

  },
  methods: {
  },
}
</script>


