<template>
       <div>
         <h2 class="h2-empresa"><span class="direito-h2">DIREITO DE </span><br> FAMÍLIA</h2>
         <p class="p-empresa">Atuamos com especial atenção no Direito da Família, cuidando de todos os assuntos, tais como,
            inventários e arrolamentos, testamentos, separações e divórcios, reconhecimento e dissolução da união estável, paternidade, etc.,
            inclusive os contratos de convivência (união estável),
            também entre pessoas do mesmo sexo, comumente chamada de união homoafetiva.
         </p>
          
       </div>
</template>

<style>
.direito-h2{
  color: #384c53;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 30px;
}
.h2-empresa{
  font-weight: bold;
  color: #384c53;
  font-size: 40px;
  margin-bottom: 80px;
}
.p-empresa {
  text-align: justify;
  color: #384c53;
  font-weight: 200;

}
</style>

<script>

export default {
  
  data: function () {
    return {

    }
  },
  watch: {
  },
  created: function () {
  },
  mounted: function () {

  },
  methods: {
  },
}
</script>


