<template>
       <div>
         <h2 class="h2-empresa"><span class="direito-h2">DIREITO </span><br> IMOBILIÁRIO</h2>
         <p class="p-empresa">Atuamos assessorando todo tipo de relação e negócio jurídico imobiliário, prestando serviços jurídicos CONSULTIVOS, 
          PREVENTIVOS E NO CONTENCIOSO, defendendo os interesses e direitos nas demandas judiciais
         </p>
          
       </div>
</template>

<style>
.direito-h2{
  color: #384c53;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 30px;
}
.h2-empresa{
  font-weight: bold;
  color: #384c53;
  font-size: 40px;
  margin-bottom: 80px;
}
.p-empresa {
  text-align: justify;
  color: #384c53;
  font-weight: 200;

}
</style>

<script>

export default {
  
  data: function () {
    return {

    }
  },
  watch: {
  },
  created: function () {
  },
  mounted: function () {

  },
  methods: {
  },
}
</script>


