<template>
       <div>
         <h2 class="h2-empresa"><span class="direito-h2">DIREITO DO </span><br> TRABALHO</h2>
         <p class="p-empresa">Atuamos no Contencioso, em todo tipo de causa e reclamação envolvendo a relação jurídica existente entre empregador e 
          empregado, inclusive quando se discute DOENÇA OCUPACIONAL, DANOS DIVERSOS (MORAL, ESTÉTICO), realização de PERÍCIAS, depósitos de FGTS, RESCISÃO INDIRETA DO CONTRATO DE TRABALHO, etc. 
          <br><br>
          Além disso, o escritório presta serviços PREVENTIVOS e CONSULTIVOS, orientando os clientes para que adotem condutas que tenham o escopo
          de evitar o ajuizamento ou reduzir o número de ações e de condenações.
         </p>
          
       </div>
</template>

<style>
.direito-h2{
  color: #384c53;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 30px;
}
.h2-empresa{
  font-weight: bold;
  color: #384c53;
  font-size: 40px;
  margin-bottom: 40px;
}
.p-empresa {
  text-align: justify;
  color: #384c53;
  font-weight: 200;

}
</style>

<script>

export default {
  
  data: function () {
    return {

    }
  },
  watch: {
  },
  created: function () {
  },
  mounted: function () {

  },
  methods: {
  },
}
</script>


