<template>
  <div id="app">
    <div class="padding-cus"></div>
    <header>
      
      <div class="container menu-desktop">
        <div class="row row-cus-header">

        <div class="col-md-3">
          <router-link :to="'/'" >
            <img class="img-fluid logo-header" src="/static/img/LogoPaulo-p.png" id="logo-menu-topo">
          </router-link>
        </div>  

          <div class="col-md-7 col-md-7-cus">
            <nav class="menu-header">
              
              <router-link id="menu-quem" :to="'/QuemSomos'" >
                <div id="div-quem" class="div-a-header quem-a-header header-active ">
                    Quem<br> somos
                </div> 
              </router-link>
              
              <!-- <router-link :to="'/Atuacao'" >
                <div class="div-a-header dropdown">
                  Atuação
                </div>  
              </router-link> -->

            
            <div class="dropdown style-drop header-active">
              <div class="nav-link style-drop-int" id="dLabel" type="div"  data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                ATUAÇÃO
                
              </div>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <router-link class="a-drop btn-empresa"   :to="'/Atuacao/empresarial'">
                <div class="p-atua">
                    <p class="fisrst-p-atua">Direito</p>
                    <p class="second-p-atua"> 
                      <img class="triangule-br" src="../static/icons/triangulebranco.png">EMPRESARIAL</p>
                </div>
                </router-link>

                <router-link class="a-drop btn-trabalho"  :to="'/Atuacao/recuperacao'">
                <div class="p-atua">
                    <p class="fisrst-p-atua">RECUPERAÇÃO</p>
                    <p class="second-p-atua"><img class="triangule-br"
                     src="../static/icons/triangulebranco.png">DE EMPRESA</p>
                  </div>
                </router-link>

                 <router-link class="a-drop btn-trabalho"  :to="'/Atuacao/saude'">
                <div class="p-atua">
                    <p class="fisrst-p-atua">DIREITO</p>
                    <p class="second-p-atua"><img class="triangule-br" 
                    src="../static/icons/triangulebranco.png">DA SAÚDE</p>
                  </div>
                </router-link> 

                <router-link class="a-drop btn-trabalho"  :to="'/Atuacao/divorcio'">
                <div class="p-atua">
                    <p class="fisrst-p-atua">Inventário e</p>
                    <p class="second-p-atua"><img class="triangule-br"
                     src="../static/icons/triangulebranco.png">DIVÓRCIO</p>
                  </div>
                </router-link>

                <router-link class="a-drop btn-familia"  :to="'/Atuacao/familia'">
                <div class="p-atua">
                    <p class="fisrst-p-atua">Direito de</p>
                    <p class="second-p-atua"><img class="triangule-br"
                     src="../static/icons/triangulebranco.png">FAMÍLIA</p>
                </div>
                </router-link>

                <router-link class="a-drop btn-trabalho"  :to="'/Atuacao/trabalho'">
                <div class="p-atua">
                    <p class="fisrst-p-atua">Direito DO</p>
                    <p class="second-p-atua"><img class="triangule-br"
                     src="../static/icons/triangulebranco.png">TRABALHO</p>
                  </div>
                </router-link>

                <router-link class="a-drop "  :to="'/Atuacao/civil'">
                <div class="p-atua btn-civil">
                    <p class="fisrst-p-atua">Direito</p>
                    <p class="second-p-atua"> <img class="triangule-br"
                     src="../static/icons/triangulebranco.png">CIVIL</p>
                </div>
                </router-link>

                <router-link class="a-drop btn-consumidor"  :to="'/Atuacao/consumidor'">
                <div class="p-atua">
                    <p class="fisrst-p-atua">Direito do</p>
                    <p class="second-p-atua"><img class="triangule-br"
                     src="../static/icons/triangulebranco.png">CONSUMIDOR</p>
                </div>
                </router-link>

                <router-link class="a-drop "  :to="'/Atuacao/imobiliario'">
                <div class="p-atua btn-imob">
                    <p class="fisrst-p-atua">Direito </p>
                    <p class="second-p-atua"><img class="triangule-br"
                     src="../static/icons/triangulebranco.png">IMOBILIÁRIO</p>
                </div>
                </router-link>



              </ul>
            </div>

              <router-link :to="'/midia'" > 
                <div class="div-a-header">
                  Mídia 
                </div>
              </router-link>
              
             <a href="#" @click.prevent="scrolA('#forms', false)"> 
                <div class="div-a-header">
                  Contato  
                </div> 
              </a>
              <a href="#" @click.prevent="scrolB('#formstrabalhe', false)">
                <div class="div-a-header quem-a-header">
                  Trabalhe <br>Conosco 
                  
                </div>
              </a>
            </nav>
          </div>

          <div class="col-md-2 col-md-7-cus">
            <div class="number-header">
              <div class="number-div1">
                <a target="_blank" href="tel:+55 11 4228 3000 ">+55 11 &nbsp;&nbsp;4228-3000 <img src="../static/img/phone-receiver.png"> </a>
              </div>
              <div class="number-div">
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5511964704098&text=Digite%20sua%20mensagem">+55 11 96470-4098 <img src="../static/img/whatsapp.png"> </a>
              </div>
            </div>
          </div>

        </div>
      </div>  
      
      <div class="container-fluid menu-mobile">
        <div class="row">
          <div class="col-sm-12">
            
            <nav class="navbar navbar-expand-lg navbar-light">
              <router-link class="navbar-brand" :to="'/'">
                <img src="/static/img/Logo-bco.png" class="img-fluid img-logo-mobile"> 
              </router-link>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item"><router-link :to="'/QuemSomos'"  class="nav-link">Quem Somos</router-link></li>
                  <li class="nav-item li-mob-item">
                    
                    <div class="dropdown">
                      <button class="nav-link" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Atuação
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu"  aria-labelledby="#dLabel">
                        <router-link :to="'/atuacao/empresarial'" >Direito empresarial</router-link>
                        <router-link :to="'/atuacao/civil'" >Direito Civil</router-link>
                        <router-link :to="'/atuacao/consumidor'" >Direito do Consumidor</router-link>
                        <router-link :to="'/atuacao/imobiliario'" >Direito Imobiliário</router-link>
                        <router-link :to="'/atuacao/familia'" >Direito de Família</router-link>
                        <router-link :to="'/atuacao/trabalho'" >Direito do trabalho</router-link>
                        <router-link :to="'/atuacao/divorcio'" >Inventário e Divórcio</router-link>
                        <router-link :to="'/atuacao/recuperacao'" >Recuperação de Empresa</router-link>
                        <router-link :to="'/atuacao/saude'" >Direito da Saúde</router-link>
                      </ul>
                    </div>
                  </li>
                  
                  <li class="nav-item"><router-link :to="'/midia'"  class="nav-link">Mídia</router-link></li>
                  <li class="nav-item"><a href="#" @click.prevent="scrolA('#forms', false)" class="nav-link">Contato</a></li>
                  <li class="nav-item"><router-link :to="'/Trabalhe'"  class="nav-link">Trabalhe Conosco</router-link></li>
               
                </ul>
              </div>
            </nav>
           
          </div>
        </div>
      </div>
   	</header>
    <div class="col-md-4 btn-scroll-top">
      <a href="https://api.whatsapp.com/send?phone=5511964704098&text=Digite%20sua%20mensagem" target="_blank" class="wpp-btn" id="btn-wpp"></a>
    </div>
    <transition name="slide-fade" mode="out-in">
      <router-view></router-view>
    </transition>

    <transition name="slide-fade" mode="out-in">
      <div>
        <footer>
          <section>  
            <div>
                <GmapMap :center="{lat:-23.614219, lng:-46.6518015}" :zoom="13" map-type-id="terrain" style="width: 100%; height: 400px">
                <GmapMarker  :position="{lat:-23.618255, lng:-46.6232 }" :clickable="true" :draggable="false" />
                <GmapMarker  :position="{lat:-23.6021466 , lng:-46.6743201}" :clickable="true" :draggable="false" />
              </GmapMap>
            </div>
          </section>  
          <div class="pos-footer">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-cus-6 ">
                  <div class="">
                      <img class="img-logo-footer" src="../static/img/Logo-bco.png" id="logo-menu-topo">
                      <div class="number-footer1  ">
                        <a target="_blank" href="tel: +55 11 4228-3000">
                        +55 11 &nbsp;&nbsp;4228-3000 <img src="../static/img/phone-receiverfooter.png">
                        </a>
                      </div>
                      <div class="number-footer2">
                        <a target="_blank" href="https://wa.me/+5511964704098?text=sua%20mensagem">
                          +55 11 96470-4098 <img src="../static/img/whatsappfooter.png">
                        </a>
                      </div>
                  </div>
                  <div class="flex-767">
                    <div class="footer-p1">
                      <p>
                        <b>São Caetano do Sul</b><br>
                        Rua Floriano Peixoto, 111<br>
                        São Caetano do Sul - SP<br>
                        CEP 09541-350<br>
                      </p>
                    </div> 
                    <div class="footer-p2">
                      <p>
                        <b>São Paulo</b><br>
                        Rua Gomes de Carvalho, 1356,<br>
                        2º andar - sala 102 - Vila Olímpia - SP<br>
                        CEP 04547-005
                      </p>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cop">
            <p>2019 Todos os direito reservados. Powered by Fasters</p>
          </div>
        </footer>
      </div>
    </transition>
  </div>
</template>
<style scoped>
  .flex-767{
    width: fit-content;
    margin-right: auto;
    display: flex;
    margin-left: auto;
  }
  .col-md-cus-6{
    margin-right: auto;
    margin-left: auto;
    text-align: center
  }
  .style-drop{
    width: 20%;
    height: 100%;
    border-left: solid 0.5px #8a8a8a;
    color: #1e2c32;
    text-align: center;
    position: initial;
  }
  .style-drop-int{
    letter-spacing: 2px;
    font-weight: 300;
    height: 100%;
    width: 100%;
    padding-top: 30px;  
  }
  ul{
    padding-inline-start: 00px;
  }
  .col-md-7-cus{
    padding: 0;
    height: 100%;
  }
  .row-cus-header{
    width: 100%;
    height: 100%;
  }
  .number-header{
    height: 80px;
    width: auto;
  }
  .footer-p2 p{
    color: #FFF;
    font-size: 14px;
    padding-left: 20px;
  }
  .img-logo-footer{
    height: 50px;
  }
  .footer-p1 p{
    color: #FFF;
    font-size: 14px;
  }
  .number-footer1{
    height: 25px;
    margin-top: 3%;
  }
  .number-footer1 img{
    height: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  .number-footer2 img{
    height: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  .number-div a{
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    width: fit-content;
    color: #384c53;
    font-weight: 600;
    height: 25px;
    max-width: 165px;
    border: solid 1px #505050;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .number-div1 a{
    margin-top: 10px;
    padding-top: 2px;
    color: #384c53;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 600;
    height: 25px;
    width: 100%;
    /* border: solid 1px #505050; */
    border-radius: 20px;
    /* margin-bottom: 10px; */
    margin-left: 10px;
  }
  .number-div1 a:hover{
    color: #384c53;
  }
  .number-div img{
    height: 15px;
    padding-left: 2px;
    padding-top: -3px;
  }
  .number-div1 img{
    height: 15px;
    padding-left: 5px;
    padding-top: -3px;
  }
  .li-mob-item{
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  button.nav-link{
    text-transform: uppercase;
  }
  button.nav-link:focus{
    outline: none;
    box-shadow: none;
  }
  .dropdown-menu{
    background-color: #1e2c32;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
  }
  .dropdown-menu a{
    text-align: left;
  }
  .img-footer{
    display: block;
    text-align: center;
    max-width: 300px;
    margin: 70px auto 50px auto;
  }
  .tell{
    color: #fff;
  }
  .end{
    width: 220px;
  }
  .top-header {
    display: block;
    justify-content: space-between;
    border-bottom: 2px solid #02b2cb; 
  }
  .top-header p{
    padding: 12px 0;
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
  }
  .top-header p:nth-of-type(1){
    margin-right: 30px;
  }
  .top-header i.fas.fa-phone{
    transform: rotateY(180deg);
  }
  .top-header i {
    font-size: 18px!important;
    color: #02b2cb;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
  }
  small{
    color: #525252;
  }
  .dropdown-menu{
    top: 97% !important;
    left: -45px!important;
    width: 80% !important;
    will-change: inherit!important;
    -webkit-transform: inherit!important;
    transform: inherit!important;
  }
  .nav-item *{
    transition: .4s !important;
  }
  .menu-header{
    display:flex;
    height: 100%;
  }
  .menu-header a {
    width: 20%;
    height:100%;
    border-left: solid 0.5px #8a8a8a;;
    color: #384c53;
    text-align: center;
  }
  .menu-header a:last-child{
    border-right: solid 0.5px #8a8a8a;;
  }
  .div-a-header{
    letter-spacing: 2px;
    height: 100%;
    width: 100%;
    padding-top: 30px;
  }
  .quem-a-header{
    padding-top: 20px
  }
  .expe{
    background-image: url("../static/img/Topo.jpg");
    /* height: 600px; */
    background-size: cover;
    border-bottom: solid 5px #fff;
  }
  .home-left{
    text-align: center;
    padding-top: 55px;
  }
  .home-left img{
    height: 75px;
  }
  .home-left h1{
    color: #fff;
    margin-top: 25px;
    font-weight: bold;
    font-size: 45px;
    line-height: 65px;
  }

  .home-right p{
    color: #fff;
    text-align: justify;
  font-size: 20px;
  }
  .row-cusexpe{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .p-atua p{
    color: #fff;

  }
  .p-atua{
    width: 160px;
    margin-left: 10px;
    padding: 10px;
    transition: .5s;
  }
  .p-atua:hover{
    opacity: 1;
  }
  .fisrst-p-atua{
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 15px;
  }
  .second-p-atua{
    margin-bottom: 0;
    margin-top: -7px;
    font-size: 17px;
    font-weight: bold;
  }
  .triangule-br{
    height: 15px;
  }
  .a-drop{
    width: fit-content !important;
    text-align: inherit !important;
    border-right: none !important;
    border-left: none!important;
  }
  a:hover{
    text-decoration: none;
  }
  @media only screen and (max-width: 991px) {
    header .menu-desktop a, header .menu-desktop button{
      font-size: 10px;
    }
    header #logo-menu-topo{
      margin-top:11%;
    }
    .number-div1 a {
      font-size: 8px !important;
    }
    .number-div a {
      font-size: 8px !important;
    }
    .number-div1 img {
      height: 10px !important;
    }
    .number-div img {
      height: 10px !important;
    }
    .style-drop-int{
      font-size: 10px;
    }
    .dropdown-menu{
      width: 90% !important;
    } 
  }
  @media only screen and (max-width: 1200px){
    .triangule-br {
      height: 12px;
    }
    .second-p-atua{
      font-size: 15px;
    }
    .fisrst-p-atua{
      font-size: 12px;
    }
    .number-div1 img{
      height: 13px;
    }
    .number-div img{
      height: 13px;
    }
    .number-div a {
      font-size: 12px;
    }
    .number-div1 a {
      font-size: 12px;
    }
  }
  @media only screen and (max-width: 767px){
    
    .footer-p1{
      width: 50%;
    }
    .footer-p2{
      width: 50%;
    }
  }
  @media only screen and (max-width: 767px){
    .img-logo-footer {
      height: 45px;
  }
  }
  .active-menu{
    color: #1e2c32;
    background: #c9c9c9;
  }
  .cop{
    border-top: solid 1px #384c53;
    height: auto;
    width: 100%;
    background-color: #1e2c32;
    color: #fff;
    text-align: center;
  }
  .cop p {
    padding: 10px 0;
    margin-bottom: 0px;
    color: #fff;
    font-size: 14px;
  }
</style>

<script>
export default {
  name: 'app',
  data: function () { 
    return {
      year: '',
      formNews: {},
      btnText: 'Enviar',
      isBtnDisabled: false,
      
    }
  },
  mounted: function () {

    this.year = new Date().getFullYear()
    
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('#btn-wpp').addClass('.wpp-after');
        } 
    });
  },
  methods: {
    initSlider: function () {
      $(document).ready(function(){ 
      $(".btn-empresa").click(function(evento){
      if ($('#md-empresa').hasClass('none')){

         $("#md-civil").addClass("none");
         $("#md-consumidor").addClass("none");
         $("#md-imob").addClass("none");
         $("#md-familia").addClass("none");
         $("#md-trabalho").addClass("none");
         $("#md-empresa").toggleClass("none"); 
      }
   });
        // ---------------------------------------------------------------
        $(".btn-empresa").click(function(evento){
      if ($('#md-empresa').hasClass('none')){

         $("#md-civil").addClass("none");
         $("#md-consumidor").addClass("none");
         $("#md-imob").addClass("none");
         $("#md-familia").addClass("none");
         $("#md-trabalho").addClass("none");
         $("#md-empresa").toggleClass("none"); 
      }
   });
     $(".btn-civil").click(function(evento){
      if ($('#md-civil').hasClass('none')){

         $("#md-empresa").addClass("none");
         $("#md-consumidor").addClass("none");
         $("#md-imob").addClass("none");
         $("#md-familia").addClass("none");
         $("#md-trabalho").addClass("none"); 
         $("#md-civil").toggleClass("none");
      }
   });

   $(".btn-consumidor").click(function(evento){
      if ($('#md-consumidor').hasClass('none')){

         $("#md-empresa").addClass("none");
         $("#md-civil").addClass("none");
         $("#md-imob").addClass("none");
         $("#md-familia").addClass("none");
         $("#md-trabalho").addClass("none"); 
         $("#md-consumidor").toggleClass("none");
      }
   });

   $(".btn-imob").click(function(evento){
      if ($('#md-imob').hasClass('none')){

         $("#md-empresa").addClass("none");
         $("#md-civil").addClass("none");
         $("#md-consumidor").addClass("none");
         $("#md-familia").addClass("none");
         $("#md-trabalho").addClass("none"); 
         $("#md-imob").toggleClass("none");
      }
   });
   $(".btn-familia").click(function(evento){
      if ($('#md-familia').hasClass('none')){

         $("#md-empresa").addClass("none");
         $("#md-civil").addClass("none");
         $("#md-consumidor").addClass("none");
         $("#md-imob").addClass("none");
         $("#md-trabalho").addClass("none"); 
         $("#md-familia").toggleClass("none");
      }
   });
   $(".btn-trabalho").click(function(evento){
      if ($('#md-trabalho').hasClass('none')){

         $("#md-empresa").addClass("none");
         $("#md-civil").addClass("none");
         $("#md-consumidor").addClass("none");
         $("#md-imob").addClass("none");
         $("#md-familia").addClass("none"); 
         $("#md-trabalho").toggleClass("none");
      }
   });
  });
},
    scrollTo: function ($selector, stayInpage) {
      
      function scroll() {
        var diff = 130;
        $('html, #app').animate({
          scrollTop: $($selector).offset().top - diff 
        }, 1000);
        $('#navbarNavDropdown').collapse('hide');
      }

      if (this.$route.path == '/' || stayInpage) {
        scroll()
        $('#navbarNavDropdown').collapse('hide');
      } else {
        this.$router.push('/');
        setTimeout(scroll, 4000);
        $('#navbarNavDropdown').collapse('hide');
      }
      
    },
    scrolA: function ($selector, stayInpage ) {
      function scroll() {
        var teste =  $($selector).offset();
        console.log(teste);
        
        var diff = 130;
        $('html, body').animate({
          scrollTop: $($selector).offset().top - diff 
        }, 1000);
      }

      if (this.$route.path == '/Contato' || stayInpage) {
        scroll()
        
      } else {
        this.$router.push('/Contato');
        setTimeout(scroll, 500);
      
      }
    },
    scrolB: function ($selector, stayInpage ) {
      function scroll() {
        var teste =  $($selector).offset();
        console.log(teste);
        
        var diff = 130;
        $('html, body').animate({
          scrollTop: $($selector).offset().top - diff 
        }, 1000);
      }

      if (this.$route.path == '/Trabalhe' || stayInpage) {
        scroll()
        
      } else {
        this.$router.push('/Trabalhe');
        setTimeout(scroll, 500);
      
      }
    },
  }
}
</script>

<style src="./styles/app.css"></style>